@charset "UTF-8";

/*
    Em HTML 'id' é igual a # em CSS
    EM HTML 'class' é igual a . em CSS
*/

body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 { /* Seletor genérico */
    color: #A66E4E;
}

/* Seletor personalizado com identificação de id */
h1#principal { /* Identificador para id: # */
    background-color: #F2D5A0; 
    text-align: center;
    color: #652C21;
}
h2 {
    color: #BF895A;
}

/* Seletor personalizado com class */
/* Não se coloca a tag junto */
.basico { /* Identificador para class: . */
    color: #bf5a5a;
}

.intermediario {
    color: #bf975a;
}

.avancado {
    color: #bfb85a;
}

.destaque {
    background-color: #bf975a;
}